@{
    ViewData["Title"] = "Home Page";
}

<div class="grid">
    <a asp-action="Hello" class="one link">
        <p class="category">Протеин</p>
    </a>

    <a href="#" class="two link">
        <p class="category">Креатин</p>
    </a>

    <a href="#" class="three link">
        <p class="category">Гейнер</p>
    </a>

    <a href="#" class="four link">
        <p class="category">Жиросжигатели</p>
    </a>

    <a href="#" class="five link">
        <p class="category">Минералы</p>
        <p class="category">Витамины</p>
    </a>

    <a href="#" class="six link">
        <p class="category">Комплексы</p>
        <p class="category">Предтрениров.</p>
    </a>

    <a href="#" class="seven link">
        <p class="category">Комплексы</p>
        <p class="category">Послетрениров.</p>
    </a>

    <a href="#" class="eight link">
        <p class="category">Питания</p>
        <p class="category">Заменители</p>
    </a>

    <a href="#" class="nine link">
        <p class="category">Изотоники</p>
        <p class="category">Аминокислоты</p>
    </a>

</div>
